<div class="navbar navbar-top-static navbar-custom" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <img src="/images/wearemit_navbar.png">
      </a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav nav-custom navbar-nav navbar-right">
        <li><a href="/">home</a></li>
        <li><a href="/start">getting started</a></li>
        <!-- <li><a href="/submit">join</a></li> -->
        <!-- <li><a href="/ask">ask-a-question</a></li>   -->
        <li><a href="/about">FAQs</a></li>
      </ul>
    </div>
  </div>
</div>
