
{{> navbar}}

<div class="narrow-page-container">

  <div class="about-page">
    <h2>FAQs</h2>
    <hr>

    <p><i>What is this all about?</i></p>
<!--     <p><b>People say that “MIT is a bubble”, and we also live in our own smaller bubbles within MIT.</b> It can be hard to learn about people outside of our own circles. You are probably very busy on most days, too, and that makes it more difficult to explore the broader place of MIT.</p>

    <p><b>MIT is full of interesting people with different intellectual interests, political perspectives, and crazy hobbies.</b> We benefit from interacting with people outside of our particular labs or living groups.</p>

    <p>We Are MIT is designed to <b>showcase and celebrate the diversity of MIT community members</b>. It is also designed to make it easy for you to <b>discover people across campus and reach out to them directly</b>.</p> -->
    <p><i>How do I make a good video?</i></p>

    <p><i>Can I do it with my student group?</i></p>

    <hr class="narrow-hr">

    <p>This is an experiment. Try it out. Let us know what you think. The project is evolving and adapting, and we actively seek critical feedback.</p>

    <p>Do you find this project exciting? Contact us on <i>wearemit@mit.edu</i> about ways in which you might get involved!</p>

  </div>

</div>

