
{{> navbar}}

<div class="narrow-page-container">

  <div class="about-page">
    <h2>FAQs</h2>
    <hr class="purple-hr">


    <br>
    <h4>Can I do it with my student group?</h4>
    <p>Absolutely! Submit the kerberos for a contact person for the group along with the student group name.</p>
    
    <br>
    <h4>Who is behind this?</h4>
    <p>MIT students! Katrine Tjoelsen, Rachel Lathe, Harini Suresh, and Nicholas Curtis. Say hi :)</p>

    <p>This is an experiment. Try it out. Let us know what you think. The project is evolving and adapting, and we actively seek critical feedback. <strong>Do you find this project exciting?</strong> Contact us on <a href="mailto:wearemit@mit.edu">wearemit@mit.edu</a> about ways in which you might get involved!</p>

  </div>

</div>

