
{{> navbar}}

<div class="narrow-page-container">

  <div class="about-page">
    <h2>FAQs</h2>
    <hr class="purple-hr">

    <br>
    <h4>What is MIT MindHandHeart?</h4>
    <p>The MIT MindHandHeart initiative is bringing heart to MIT. (Mens et Manus + Heart) = MindHandHeart.
    Learn more on the <a href="http://mindhandheart.mit.edu/">MindHandHeart website</a>!</p>

    <br>
    <h4>Can I submit a video with my student group?</h4>
    <p>Absolutely! Have a contact person for the group submit their kerberos along with the name of the student group.</p>

    <br>
    <h4>How do I make a good video?</h4>
    <p>A few tips:</p>
    <ul>
      <li><strong>Shoot with what you got</strong>. Your phone camera is probably pretty good! But remember to film while holding your phone horizontally and not vertically.</li>
      <li><strong>Light is your friend</strong>. It can make a big difference to film during daytime.</li>
      <li><strong>Pro-tip:</strong> Earbud headphones that have a mic can improve sound quality.</li>
      <!-- <li>Include your friends. People are interesting.</li> -->
      <!-- <li>Aim at eliciting positive, high-arousal emotions. Nelson-Field et al. and Jonah Berger show that such content is shared more frequently.</li> -->
      <!-- <li>Check out this <a href="https://www.youtube.com/watch?v=9h-PbBZqayY"> 5-minute intro to making interesting videos</a>.</li> -->
    </ul>    
    
    <br>
    <h4>Who is behind this?</h4>
    <p>MIT students! Katrine Tjoelsen, Rachel Lathe, Harini Suresh, and Nicholas Curtis.</p>

    <p>This is an experiment. Try it out. The project is evolving and adapting, and we actively seek critical feedback. Let us know what you think should be done differently. Contact us on <a href="mailto:wearemit@mit.edu">wearemit@mit.edu</a>.</p>
    <p>Do you find this project exciting?. Say hi and we will find ways for you to get involved!</p>

  </div>

</div>

