
{{> navbar}}

<div class="narrow-page-container">

  <div class="about-page">
    <h2>FAQs</h2>
    <hr class="purple-hr">

    <h4>What is this all about?</h4>
    <p>People say that “MIT is a bubble”, and we also live in our own smaller bubbles within MIT. But MIT is full of interesting people with different intellectual interests, political perspectives, and crazy hobbies. <strong>We Are MIT</strong> is designed to showcase and celebrate the diversity of MIT community members.</p>

    <br>
    <h4>How do I make a good video?</h4>
    <p>A few tips:</p>
    <ul>
      <li>Your phone camera is probably pretty good! But remember to film holding your phone horizontally and not vertically.</li>
      <li>Include your friends. People are interesting.</li>
      <li>Aim to elicit positive, high-arousal emotions. Nelson-Field et al. and Jonah Berger show that such content is shared more frequently.</li>
      <li>Check out this <a href="https://www.youtube.com/watch?v=9h-PbBZqayY"> 5-minute intro to making interesting videos</a>.</li>
    </ul>

    <br>
    <h4>Can I do it with my student group?</h4>
    <p>Absolutely! Submit the kerberos for a contact person for the group along with the student group name.</p>
    <hr>

    <p>This is an experiment. Try it out. Let us know what you think. The project is evolving and adapting, and we actively seek critical feedback. <strong>Do you find this project exciting?</strong> Contact us on <a href="mailto:wearemit@mit.edu">wearemit@mit.edu</a> about ways in which you might get involved!</p>

  </div>

</div>

