
{{> navbar}}

<div class="narrow-page-container">



  <p>Thank you for submitting a video!</p>
  <p>Want to upload another? </p>
  <p> 
    <a href="/submit">Upload another video</a>.
  </p>

</div>

