
<script src="/javascripts/landing.js"></script>

<!--[if lt IE 9]>
<script>
	document.createElement('video');
</script>
<![endif]-->

<video playsinline autoplay muted loop poster="../public/images/mit.png" id="bgvid" onclick="this.paused ? this.play() : this.pause();">
  <source src="../public/images/mit.mp4" type="video/mp4">
</video>


<div id="landing-page-container">


  <div id="landing-page-text" >
      <h1 id="title"><img src="/images/wearemit_landing.png"></h1>
      <br>
      <h2>Imagine what we could do if we joined forces?</h2>
      <a id="videos-link" href="/videos">  EXPLORE  </a>
    <!-- <button id="vidpause" onclick="pause()">||</button> -->
    
  </div>
</div>