
{{> navbar}}

<div class="narrow-page-container">

  <div>
    <h2>Getting started</h2>
    <hr class="purple-hr">


    <h4>Share your story</h4>
    {{> april_question}}
    
      <p>Then upload your video to your YouTube account. Make sure the video setting is "unlisted" or "public", but <i>not</i> "private", so that we can see the video.<br>
      <a href="/submit"><strong>Submit your response here</strong></a>.</p>

      <p>A quick way to record the video, trim it, and upload it to YouTube is to use the YouTube smartphone app!</p>

    <br>
    <h4>How do I make a good video?</h4>

    <p>A few tips:</p>
    <ul>
      <li><strong>Shoot with what you got</strong>. Your phone camera is probably pretty good! But remember to film while holding your phone horizontally and not vertically.</li>
      <li><strong>Light is your friend</strong>. It can make a big difference to film during daytime.</li>
      <li><strong>Pro-tip:</strong> Earbud headphones that have a mic can improve sound quality.</li>
      <!-- <li>Include your friends. People are interesting.</li> -->
      <!-- <li>Aim at eliciting positive, high-arousal emotions. Nelson-Field et al. and Jonah Berger show that such content is shared more frequently.</li> -->
      <!-- <li>Check out this <a href="https://www.youtube.com/watch?v=9h-PbBZqayY"> 5-minute intro to making interesting videos</a>.</li> -->
    </ul>    

    <hr>
    <h4>Questions?</h4> 
    <p>Check out our <a href="/about">FAQs</a>  and email us at <a href="mailto:wearemit@mit.edu">wearemit@mit.edu</a>. 
      We are just starting this project and are seeking your feedback on anything that works or doesn't work!
    </p>
  </div>

</div>

