
{{> navbar}}

<div class="narrow-page-container">

  <div>
    <h2>Getting started</h2>
    <hr class="purple-hr">

    <p>More background is coming here.</p>

    <hr>

    <h4>Share your story</h4>
    <p>Tell us about the one thing that you think should never change about MIT:<br>
    1) Respond in a video of 30 seconds or less <br>
    2) You get bonus points if you make the video as a pair or a team <br>
    3) Use the first 5 seconds of the video to introduce yourself <br>
    4) Include a stuffed animal and an MIT building</p>
    
    <p>Then upload your video to YouTube as "unlisted" or "public", <br>
      and <a href="/submit"><strong>submit your response here</strong></a>.</p>

    <br>
    <h4>How do I make a good video?</h4>

    <p>A video with tips is coming here.</p>

    <p>A few tips:</p>
    <ul>
      <li>Your phone camera is probably pretty good! But remember to film while holding your phone horizontally and not vertically.</li>
      <li>Include your friends. People are interesting.</li>
      <li>Aim at eliciting positive, high-arousal emotions. Nelson-Field et al. and Jonah Berger show that such content is shared more frequently.</li>
      <li>Check out this <a href="https://www.youtube.com/watch?v=9h-PbBZqayY"> 5-minute intro to making interesting videos</a>.</li>
    </ul>    

    <hr>
    <h4>Questions?</h4> 
    <p>Check out our <a href="/about">FAQs</a>  and email us at <a href="mailto:wearemit@mit.edu">wearemit@mit.edu</a>. 
      We are just starting this project and are seeking your feedback on anything that works or doesn't work!
    </p>
  </div>

</div>

