
{{> navbar}}

<div class="narrow-page-container">

  <div id="submit-form">

    <h2>Where do you see Heart at MIT?</h2>
    <hr class="purple-hr">
    <div class="text-center">
      <p>Tell us where you see Heart at MIT in a 30-second video.<br> 
      You can make the video whatever you want it to be. Feel free to make it with a friend!</p>
      
      
      <p>The MIT MindHandHeart initiative will select three winners based on creativity, originality, and how well the video captures the spirit of MIT.</p>
      <h4>1st: $300 </h4>
      <h4>2nd: $200 </h4>
      <h4>3rd: $100</h4>
      <br>
      <p><strong>Submit by May 31st</strong></p>
      
      <p>Upload your video to your YouTube account. Make sure the video setting is "unlisted" or "public", but <i>not</i> "private", so that we can see the video. Please add captions to your video for equal access to all (check the <a href="/about">FAQs</a> for instructions).<br>

      <!-- <p>Submit your response here by 11:59pm, April 30th.</p> -->
      
    </div>

    <hr>
    <form class="form-horizontal col-sm-offset-1" method="post" action="/submit/video">
      <div class="form-group">
        <label for="kerberos" class="control-label">Your Kerberos</label>
        <input type="text" name="kerberos" class="form-control" id="kerberos" placeholder="Your kerberos" required>
      </div>

      <div class="form-group">
        <label for="mitAffiliation" class="control-label">MIT Affiliation</label>
        <select class="form-control" name="mitAffiliation" required>
          <option>Undergraduate student</option>
          <option>Graduate student</option>
          <option>Staff</option>
          <option>Postdoc</option>
          <option>Faculty</option>
          <option>Alum</option>
          <option>Other</option>
        </select>        
      </div>


      <div class="form-group">
        <label for="kerberos" class="control-label">Your friend's Kerberos (optional)</label>
        <input type="text" name="kerberos" class="form-control" id="kerberos" placeholder="Your friend's kerberos">
      </div>

      <div class="form-group">
        <label for="youtubeLink" class="control-label">YouTube Link</label>
        <input type="text" name="youtubeLink" class="form-control" id="youtubeLink" placeholder="Link to your YouTube video" required>
      </div>

      <div class="form-group">
        <label for="dropboxLink" class="control-label">Dropbox Link (as well, please)</label>
        <input type="text" name="dropboxLink" class="form-control" id="dropboxLink" placeholder="Link to your YouTube video" required>
      </div>      

      <div class="form-group">
        <label for="tweetSummary" class="control-label">Tweet-length Response</label>
        <textarea type="text" name="tweetSummary" class="form-control" id="tweetSummary" placeholder="<140 character summary of your response" required></textarea>
      </div>          

      <div class="form-group">
        <br>
        <i>Terms and conditions</i>. By submitting a response, you allow "We are MIT" to display your video and tweet on the website as well as the <a target="_blank" href="/files/MindHandHeartReleaseForm.pdf"> MindHandHeart License and Release form</a>.
      </div>

      <div class="form-group">
          <div class="checkbox">
            <label><input type="checkbox" name="termsAgreement" value="" required>I agree to the terms and conditions</label>
          </div>
      </div>          



      <!-- </div> -->
      <div class="form-group">
          <button type="submit" class="btn btn-default">Submit</button>
      </div>
    </form>    
  </div>

</div>

