
{{> navbar}}


<div class="problem-pitch">

	<div id="problem-pitch-overlay">
		<video id="grassvideo" playsinline autoplay muted loop poster="../public/images/grass.png" id="videosvideo">
	  	<source src="../public/images/grass.mp4" type="video/mp4">
		</video>
	</div>

<!-- 	<div id="problem-pitch-overlay">
	</div> -->

	<div id="problem-pitch-text">
		<div class="dark-bg text-center">
			<h2>What is the one thing that <br>should never change about MIT?</h2>
			<h3>Share what you think in a 30 second video</h3>
			<h3>[$$ lottery prizes]</h3>
		</div>
	  <div id="header-respond-btn" class="purple-btn">
			<a href="/submit">Share your thoughts</a>
		</div>

	 </div>
	</div>
</div>




<div class="row white-bg" id="instructions">

	<div class="row">
		
		<div class="col-md-3">
			<!-- ignore left -->
		</div>

		<div class="col-md-6 text-center">
			<h2>Look around</h2>
			<hr class="purple-hr">
			<p>We sometimes enter “autopilot” and just go from class to assignment to class.  We have to hit pause sometimes, look and see who’s around, and remember that everyone at MIT has an interesting story.</p>
			<p><strong>We are MIT</strong> was created so that we can together turn off autopilot, recharge, and explore.</p>
			<!-- We celebrate diversity, community, and purpose.</p> -->

			<br>
			<h2>Share your story</h2>
			<hr class="purple-hr">
			<p>Tell us about the one thing that should never change about MIT:<br>
			1) Respond in a video of 30 seconds or less <br>
			2) Bonus points for doing it as a pair or a team <br>
			3) Start by introducing yourself within the first 5 seconds <br>
			4) Include a stuffed animal and an MIT building</p>
			
			<p>Then upload your video to YouTube as "unlisted" or "public", <br>
				and <a href="/submit"><strong>submit your response here</strong></a>.</p>

			<br>
			<h2>Prizes</h2>
			<h2>$100 and $50 gift cards</h2>
			<hr class="purple-hr">
			<p>Lottery prizes: <br>One $100 Amazon gift card & three $50 Amazon gift cards!</p>
			
			<p>The funniest, most creative, and most heartwarming submissions are selected and highlighted in an edited compilation of submissions.</p>
			
			<p>And do you want a cute "We Are MIT" laptop sticker?</p>
			<img src="images/wearemitsticker.png" id="wearemitsticker">

			<br>



		</div>

		<div class="col-md-3">
			<!-- ignore right -->
		</div>
		
		

	</div>
</div>
			<!-- </div> -->

				<!-- <div class="col-md-5"> -->
<!-- 					<div class="white-bg instruction-panel static">
						<h2 class="zero-top-margin">Respond to win prizes!</h2>
	
					</div>
				</div> -->



		
	<!-- </div> -->

<div class="container">
	<div class="row">


		{{#each videos}}
			<!-- small box panel for each video -->
			<div class="col-md-4 col-sm-6 video-panel-container">
				<div class="thumbnail video-panel">
					<!-- video image itself -->
					<a href="/singlevideo/{{this._id}}">
						{{#embedYoutubeImg}}{{this}}{{/embedYoutubeImg}}
					</a>

					<!-- information about the video -->
					<div class="caption">
						<h4>{{this.promptString}}</h4>
						<p>~{{this.speaker}}</p>
					</div>
			</div>
		</div>
		{{/each}}

	</div> <!-- end row -->


</div>


<script src="/javascripts/videos.js"></script>
