
{{> navbar}}


<div class="problem-pitch">

	<div id="problem-pitch-overlay">
		<video id="grassvideo" playsinline autoplay muted loop poster="../public/images/grass.png" id="videosvideo">
	  	<source src="../public/images/grass.mp4" type="video/mp4">
		</video>
	</div>

<!-- 	<div id="problem-pitch-overlay">
	</div> -->

	<div id="problem-pitch-text">
		<div class="dark-bg text-center">
			<h2>When was a time you felt proud of MIT?</h2>
			<h3>We celebrate diversity, community, and purpose. We are MIT.</h3>
		</div>
	  <div id="header-respond-btn" class="purple-btn">
			<a href="/submit">JOIN THE CLUB</a>
		</div>

	 </div>
	</div>
</div>




<div class="row white-bg" id="instructions">

	<div class="row">
		
		<div class="col-md-3">
			<!-- ignore left -->
		</div>

		<div class="col-md-6 text-center">
			<h2>Regain mindfulness</h2>
			<hr class="purple-hr">
			<p>We sometimes enter “autopilot” and just go from class to assignment to class.  We have to hit pause sometimes, look and see who’s around, and remember that everyone at MIT has an interesting story. We are MIT is created so that we can together turn off autopilot, recharge, and explore.</p>

			<br>
			<h4>Share your story</h4>
			<p>Tell us a time that you have felt proud of MIT.<br>
			1) Respond in a video of 30 seconds or less. <br>2) Bonus points for doing it as a pair or a team. <br>3) Start by introducing yourself within the first 5 seconds.<br>4) Include a stuffed animal and an MIT building.</p>
			
			<p>Then upload your video to YouTube as "unlisted" or "public", <br>
				and <a href="/submit">submit your response here</a>.</p>

			<br>
			<h2>Prizes</h2>
			<hr class="purple-hr">
			<p>1st place: $200. 2nd place: $100. 3rd place: $50.</p>
			<p>And all participants can pick up cute "We Are MIT" laptop stickers!</p>
			<img src="images/wearemitsticker.png" id="wearemitsticker">

			<br>
			<br>

		  <div id="instructions-respond-btn" class="purple-btn">
				<a href="/submit">JOIN THE CLUB</a>
			</div>				

			


		</div>

		<div class="col-md-3">
			<!-- ignore right -->
		</div>
		
		

	</div>
</div>
			<!-- </div> -->

				<!-- <div class="col-md-5"> -->
<!-- 					<div class="white-bg instruction-panel static">
						<h2 class="zero-top-margin">Respond to win prizes!</h2>
	
					</div>
				</div> -->



		
	<!-- </div> -->

<div class="container">
	<div class="row">


		{{#each videos}}
			<!-- small box panel for each video -->
			<div class="col-md-4 col-sm-6 video-panel-container">
				<div class="thumbnail video-panel">
					<!-- video image itself -->
					<a href="/singlevideo/{{this._id}}">
						{{#embedYoutubeImg}}{{this}}{{/embedYoutubeImg}}
					</a>

					<!-- information about the video -->
					<div class="caption">
						<h4>{{this.promptString}}</h4>
						<p>~{{this.speaker}}</p>
					</div>
			</div>
		</div>
		{{/each}}

	</div> <!-- end row -->


</div>


<script src="/javascripts/videos.js"></script>
