
{{> navbar}}




<div class="problem-pitch">
	<div id="problem-pitch-overlay">
		<video playsinline autoplay muted loop poster="../public/images/mit.png" id="videosvideo">
	  	<source src="../public/images/homepage-video.mp4" type="video/mp4">
		</video>
	</div>

	<div id="problem-pitch-text">
	  <div class="questionSlideShow">
	    <h1>What is your favorite MIT class <br>and why?</h1>
	  </div>

<!-- 	  <div class="questionSlideShow">
	    <h1>What is the worst MIT policy?</h1>
	  </div> -->

	  <div class="questionSlideShow">
	    <h1>What advice would you give to incoming freshmen?</h1>
	  </div>


	  <div id="header-respond-btn">
			<a href="/submit">RESPOND</a>
		</div>

	 </div>



</div>





<div class="container">


	<div class="row">

		<div class="col-md-4 sm-6 video-panel-container">
			<div id="instructions" class="thumbnail video-panel">

				<div class="center-btn">
					<a href="/submit" class="btn">JOIN</a>
				</div>
				<div class="caption">
					<ol>
						<li><p><span class="instructions-lead">Pick the question you want to answer. </span> You are interesting, and your answer lets other people learn about you and reach out to you directly.</p></li>
						<li><p><span class="instructions-lead">Respond with a 60-second video!</span> Do it with a friend, alone, or with your cat. It's low-key and fun!</p></li>
						<li><p><span class="instructions-lead">Upload it to YouTube as unlisted/public.</span> Submit it here on the platform.</p></li>
						<li><p><span class="instructions-lead">Add your own new question.</span> What do you want to learn about?</p></li>
					</ol>
				</div>
			</div>

		</div>


		{{#each videos}}
			<!-- small box panel for each video -->
			<div class="col-md-4 col-sm-6 video-panel-container">
				<div class="thumbnail video-panel">
					<!-- video image itself -->
					<a href="/singlevideo/{{this._id}}">
						{{#embedYoutubeImg}}{{this}}{{/embedYoutubeImg}}
					</a>

					<!-- information about the video -->
					<div class="caption">
						<h3>{{this.promptString}}</h3>
						<p>~{{this.speaker}}</p>
					</div>
			</div>
		</div>
		{{/each}}

	</div> <!-- end row -->


</div>


<script src="/javascripts/videos.js"></script>
