{{> navbar}}
<div class="container">
	<!-- looping video here -->
	<div class="videoContainer">
		<video id="grassvideo" playsinline autoplay muted loop poster="../public/images/grass.png" id="videosvideo">
	  	<source src="../public/images/grass.mp4" type="video/mp4">
		</video>
	</div>

	<div class="row" id="problem-pitch-text">
		<div class="col-md-2"></div>
		<div class="col-md-8">
			<div class="dark-bg">
				<!-- <h2>What is the one thing that <br>should never change about MIT?</h2> -->
				<h2>What advice would you give to someone new to MIT?</h2>
				<h3>Share what you think in a 30 second video</h3>
				<h3>[$$ prizes and laptop stickers]</h3>
			</div>
			<div id="header-respond-btn" class="purple-btn">
				<a href="/submit">Share your thoughts</a>
			</div>
		</div>
		<div class="col-md-2"></div>
	</div>
</div>

<div class="container-fluid white-bg" id="instructions">
	<div class="row">
		<div class="col-md-3"><!-- ignore left --></div>
		<div class="col-md-6 text-center">
			<h2>Learning from each other</h2>
			<hr class="purple-hr">
			<!-- <p>Imagine what we could do if we joined forces?</p> -->

			<p>MIT students have unique backgrounds. We can learn a lot from each other. Sometimes we forget, and cycle between sleep, class, and lab, mostly interacting with things and people we're already familiar with. Familiarity is necessary and comforting, but unfamiliarity enriches and inspires us.</p>

			<p>When meeting new people at MIT we're reminded that we have all kinds of unique experiences. MIT is architects, astronauts, musicians, and filmmakers. MIT is Republican, Democrat, Independents, and non-citizens. MIT is chocolate chip and oatmeal cookies. MIT is much more. We're all MIT.</p>

			<p><strong>We are MIT</strong> is a campaign and a monthly video contest. We hope help us learn from one another in ways we can't in the day-to-day cycles of academics by showing the unique experiences at MIT.</p>



<!-- 			<p>We sometimes enter “autopilot” and just go from class to assignment to class.  We have to hit pause sometimes, look and see who’s around, and remember that everyone at MIT has an interesting story.</p>
			<p><strong>We are MIT</strong> was created so that we can together turn off autopilot, recharge, and explore.</p>
			 -->
			<br>
			<h2>Share your story</h2>
			<hr class="purple-hr">
			{{> april_question}}

			<p>Then upload your video to your YouTube account. Make sure the video setting is "unlisted" or "public", but <i>not</i> "private", so that we can see the video.<br>
			<a href="/submit"><strong>Submit your response here</strong></a> by 11:59pm, April 30th.</p>

			<br>
			<h2>Lottery prizes</h2>
			<hr class="purple-hr">
			<p><strong>We lottery out FIVE $50 Amazon gift cards for submissions in April!</strong></p>

			<p>The funniest, most creative, and most heartwarming submissions will be selected and highlighted in a featured compilation of submissions.</p>

			<p>Also, in any case, you'll get a cute "We Are MIT" laptop sticker <3</p>
			<img src="images/wearemitsticker.png" id="wearemitsticker">
			<br>
		</div>
		<div class="col-md-3"><!-- ignore right --></div>
	</div>
</div>

<!-- <div class="container">
	<div class="row">
		{{#each videos}}
			
			<div class="col-md-4 col-sm-6 video-panel-container">
				<div class="thumbnail video-panel">
					
					<a href="/singlevideo/{{this._id}}">
						{{#embedYoutubeImg}}{{this}}{{/embedYoutubeImg}}
					</a>
					
					<div class="caption">
						<h4>{{this.promptString}}</h4>
						<p>~{{this.speaker}}</p>
					</div>
			</div>
		</div>
		{{/each}}
	</div> 
</div> -->

<script src="/javascripts/videos.js"></script>
