{{> navbar}}
<div class="container">
	<!-- looping video here -->
	<div class="videoContainer">
		<video id="grassvideo" playsinline autoplay muted loop poster="../public/images/grass.png" id="videosvideo">
	  	<source src="../public/images/grass.mp4" type="video/mp4">
		</video>
	</div>

	<div class="row" id="problem-pitch-text">
		<div class="col-md-2"></div>
		<div class="col-md-8">
			<div class="bright-bg medium-padding">
				<!-- <h2>What is the one thing that <br>should never change about MIT?</h2> -->
				<h2>Where do you see <br>Heart at MIT?</h2>
				<h3>Win up to $300 for a short 30-second video</h3>
				<h4>Submit by May 31st</h4>
				<div id="header-respond-btn" class="purple-btn">
					<a href="/submit">Participate</a>
				</div>				

				<img class="img-responsive" src="/images/mindhandheart_logo.png">
				
			</div>

		</div>
		<div class="col-md-2"></div>
	</div>
</div>

<div class="container" id="video-preview">

	<div class="row">

		{{#each videos}}

			
			<div class="col-md-4 col-sm-6 video-panel-container">
				<div class="thumbnail video-panel">
					
					<a href="/singlevideo/{{this._id}}">
						{{#embedYoutubeImg}}{{this}}{{/embedYoutubeImg}}
					</a>
					
					<div class="caption">
						<h4>{{this.tweetSummary}}</h4>
						<p>~{{this.speaker}}</p>
					</div>
			</div>
		</div>
		{{/each}}
	</div> 

	<div class="row">
		<div class="purple-btn">
			<a href="/watch">Watch more</a>
		</div>		
		<br><br>
	</div>
</div>

<div class="container-fluid white-bg" id="instructions">
	<div class="row">
		<div class="col-md-3"><!-- ignore left --></div>
		<div class="col-md-6 text-center">

			<br>
			<h2>Win up to $300</h2>
			<hr class="purple-hr">
			
			<p>Tell us where you see Heart at MIT in a 30-second video.<br> 
			You can make the video whatever you want it to be.</p>
			
			<p>The MIT MindHandHeart initiative will select three winners based on creativity, originality, and how well the video captures the spirit of MIT.</p>
			<h4>1st: $300 </h4>
			<h4>2nd: $200 </h4>
			<h4>3rd: $100</h4>

			<br>
			<p><strong>Submit by May 31st</strong></p>


			<div class="purple-btn">
				<a href="/submit">Participate</a>
			</div>

			<br><br>

			<h2>Learning from each other</h2>			
			<hr class="purple-hr">
						<div class="embed-responsive embed-responsive-16by9">
			    <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/213039408?portrait=0"></iframe>
			</div>

			<br>
			<p>MIT students have unique backgrounds. We can learn a lot from each other. Sometimes we forget, and cycle between sleep, class, and lab, mostly interacting with things and people we're already familiar with. Familiarity is necessary and comforting, but unfamiliarity enriches and inspires us.</p>

			<p>When meeting new people at MIT we're reminded that we have all kinds of unique experiences. MIT is architects, astronauts, musicians, and filmmakers. MIT is Republican, Democrat, Independents, and non-citizens. MIT is chocolate chip and oatmeal cookies. MIT is much more. We're all MIT.</p>

			<p><strong>We are MIT</strong> is a campaign and a monthly video contest. We hope to help us learn from one another in ways we can't in the day-to-day cycles of academics by showing the unique experiences at MIT.</p>





			<br>
		</div>
		<div class="col-md-3"><!-- ignore right --></div>
	</div>
</div>



<script src="/javascripts/videos.js"></script>
<!--  -->