{{> navbar}}
<div class="container">
	<!-- looping video here -->
	<div class="videoContainer">
		<video id="grassvideo" playsinline autoplay muted loop poster="../public/images/grass.png" id="videosvideo">
	  	<source src="../public/images/grass.mp4" type="video/mp4">
		</video>
	</div>

	<div class="row" id="problem-pitch-text">
		<div class="col-md-2"></div>
		<div class="col-md-8">
			<div class="dark-bg">
				<h2>What is the one thing that <br>should never change about MIT?</h2>
				<h3>Share what you think in a 30 second video</h3>
				<h3>[$$ prizes and laptop stickers]</h3>
			</div>
			<div id="header-respond-btn" class="purple-btn">
				<a href="/submit">Share your thoughts</a>
			</div>
		</div>
		<div class="col-md-2"></div>
	</div>
</div>

<div class="container-fluid white-bg" id="instructions">
	<div class="row">
		<div class="col-md-3"><!-- ignore left --></div>
		<div class="col-md-6 text-center">
			<h2>Let's unite</h2>
			<hr class="purple-hr">
			<p>Imagine what we could do if we joined forces?</p>

			<p>MIT labs and departments are overly separated from each other. Sometimes, we get stuck in a rut, cycling between sleep, class, and lab, mostly interacting with people in our own fields. But there is so much we can learn from each other!</p>

			<p>MIT is not just course 6. MIT is not just Sloan. MIT is architecture, political science, music, writing, business, computer science, urban planning, AND so much more. <br>We're all MIT.</p>

			<p><strong>We are MIT is a campaign and a monthly video contest to showcase MIT students from all around campus and unify our campus</strong>.</p>


<!-- 			<p>We sometimes enter “autopilot” and just go from class to assignment to class.  We have to hit pause sometimes, look and see who’s around, and remember that everyone at MIT has an interesting story.</p>
			<p><strong>We are MIT</strong> was created so that we can together turn off autopilot, recharge, and explore.</p>
			 -->
			<br>
			<h2>Share your story</h2>
			<hr class="purple-hr">
			<p>We pose new question every month and want to hear your answers to the questions.<br>In April, we ask you:</p>

			<p><strong>What is the one thing that should never change about MIT?</strong><br>
			1) Respond in a video of 30 seconds or less <br>
			2) You get bonus points if you make the video as a pair or a team <br>
			3) Use the first 5 seconds of the video to introduce yourself <br>
			4) Include a stuffed animal and an MIT building</p>
			<p>Then upload your video to YouTube as "unlisted" or "public", <br>
				and <a href="/submit"><strong>submit your response here</strong></a>.</p>
			<br>
			<h2>Lottery prizes</h2>
			<hr class="purple-hr">
			<p><strong>We lottery out FIVE $50 Amazon gift cards for submissions in April!</strong></p>

			<p>The funniest, most creative, and most heartwarming submissions will be selected and highlighted in a featured compilation of submissions.</p>

			<p>Also, in any case, you'll get a cute "We Are MIT" laptop sticker <3</p>
			<img src="images/wearemitsticker.png" id="wearemitsticker">
			<br>
		</div>
		<div class="col-md-3"><!-- ignore right --></div>
	</div>
</div>

<div class="container">
	<div class="row">
		{{#each videos}}
			<!-- small box panel for each video -->
			<div class="col-md-4 col-sm-6 video-panel-container">
				<div class="thumbnail video-panel">
					<!-- video image itself -->
					<a href="/singlevideo/{{this._id}}">
						{{#embedYoutubeImg}}{{this}}{{/embedYoutubeImg}}
					</a>
					<!-- information about the video -->
					<div class="caption">
						<h4>{{this.promptString}}</h4>
						<p>~{{this.speaker}}</p>
					</div>
			</div>
		</div>
		{{/each}}
	</div> <!-- end row -->
</div>

<script src="/javascripts/videos.js"></script>
