
{{> navbar}}


<div class="problem-pitch">
	<div id="problem-pitch-overlay">
		<video id="grassvideo" playsinline autoplay muted loop poster="../public/images/grass.png" id="videosvideo">
	  	<source src="../public/images/grass.mp4" type="video/mp4">
		</video>
	</div>

	<div id="problem-pitch-text" class="text-center">
		<h2>Who is an MIT person who means alot to you and why?</h2>
		<h3>Share your answer in a 30-second answer to win best video or lottery prizes!</h3>
	  <div id="header-respond-btn" class="purple-btn">
			<a href="/submit">JOIN THE CLUB</a>
		</div>

	 </div>
	</div>
</div>




<div class="row white-bg" id="instructions">

	<div class="row">
		
		<div class="col-md-1">
			<!-- ignore left -->
		</div>

		<div class="col-md-10 text-center">
			<h2>Who is an MIT person who means alot to you and why?</h2>
			<hr class="purple-hr">

			<div class="col-md-6">
				<h3> Respond to win prizes!</h3>
				<p>1st place: $300.  2nd place: $150.</p>
				<p>All participants enter to win lottery for three $50 techcash prizes</p>
				<p>And all participants receive cute "We Are MIT" laptop stickers!</p>

			  <div id="instructions-respond-btn" class="purple-btn">
					<a href="/submit">JOIN THE CLUB</a>
				</div>				

			</div>

			<div class="col-md-6">
				<h3>The how-to</h3>
				<p>Respond in a video of 30 seconds or less</p>
				<p>Bonus points for doing it as a pair or a team</p>
				<p>Start by introducing yourself within the first 5 seconds</p>
				<p>Include a stuffed animal and an MIT building</p>
				<p>Then upload your video to YouTube as "unlisted" or "public", and <a href="/submit">submit your response here</a>.</p>
			</div>


		</div>

		<div class="col-md-1">
			<!-- ignore right -->
		</div>
		
		

	</div>
</div>
			<!-- </div> -->

				<!-- <div class="col-md-5"> -->
<!-- 					<div class="white-bg instruction-panel static">
						<h2 class="zero-top-margin">Respond to win prizes!</h2>
	
					</div>
				</div> -->



		
	<!-- </div> -->

<div class="container">
	<div class="row">


		{{#each videos}}
			<!-- small box panel for each video -->
			<div class="col-md-4 col-sm-6 video-panel-container">
				<div class="thumbnail video-panel">
					<!-- video image itself -->
					<a href="/singlevideo/{{this._id}}">
						{{#embedYoutubeImg}}{{this}}{{/embedYoutubeImg}}
					</a>

					<!-- information about the video -->
					<div class="caption">
						<h4>{{this.promptString}}</h4>
						<p>~{{this.speaker}}</p>
					</div>
			</div>
		</div>
		{{/each}}

	</div> <!-- end row -->


</div>


<script src="/javascripts/videos.js"></script>
