body {
  background-color: #ffffff !important;
  background-image: url("https://www.transparenttextures.com/patterns/binding-light.png") !important;
}

a {
  color: #00B7FF;
}

p, li {
  font-family: 'Garamond', serif;
  font-size: 12pt;
}


h2,
h3 {
  font-family: 'Roboto', sans-serif!important;
}
h3 {
  font-size: 10pt;
}


.purple-hr {
  height: 3px;
  background-color: purple;
  width: 20%;
}

.medium-padding {
  padding: 3em;
}

/* Page widths */

.page-container {
  width: 70%;
  margin: 0 auto;
}

/* Used for About page, Single video*/
.narrow-page-container {
  width: 55%;
  margin: 5em auto;
  background-color: white;
  padding: 3em;
}


.narrow-page-container h2 {
  text-align: center;
}



/*  NAVBAR  */

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  margin-bottom: 0!important;
  z-index: 1;

}




.navbar-nav > li > a {
  color: #fff!important;
  font-family: 'Roboto', sans-serif!important;
  text-shadow: none!important;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 2px;
}

.nav>li>a:focus, .nav>li>a:hover {
  background-color: transparent!important;
  color: black!important;
}

.navbar .img-responsive {
    height: auto;
    width: auto;
    max-height: 72px;
    max-width: 250px;
}





/** landing page */

/*
video#bgvid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);

    filter: contrast(110%) brightness(70%) saturate(130%) ;
    background-size: cover;
}


video#bgvid {
    transition: 1s opacity;
}
.stopfade { opacity: .5; }


video#bgvid {
  display: block;
}

@media screen and (max-device-width: 800px) {
    html {
      background: url(../images/mit.png) #000 no-repeat center center fixed;
    }
    #bgvid {
      display: none;
    }
}

h1#title {
  color: white;
  font-family:'Lobster';
  font-weight: 500;
  font-size: 9em;
  /*opacity: .8;
  text-align: center;
  letter-spacing: .04em;
}

#landing-page-container {
  position: relative;
  margin-top: 10%;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  width: 60%;
}



#landing-page-text {
  margin-right: auto;
  margin-left: auto;
  color: white;
  font-family: 'Roboto';
  background: rgba(0, 0, 0, 0.5);
  padding: 3em;
}


button#vidpause {
    background-color: Transparent;
    border: none;
    overflow: hidden;
    outline:none;
    font-family: 'Roboto';
    font-weight: 900;
    color: white;
    font-size: 2em;
    position: absolute;
    bottom:2%;
    right:2%;
}

a#videos-link {
  color: white;
  opacity: .8;
  font-size: 2em;
  text-align: center;
  display:table;
  margin: auto;
  font-family: 'Roboto';
  border: 2px solid white ;
  padding-right: .3em;
  padding-left: .3em;
  padding-top: .1em;
  padding-bottom: .1em;
  margin-top: 1em;
}

a#videos-link:hover{
    text-decoration: none;
    background: rgba(50,50,50,0.5);


}
*/


@media (min-width: 1200px) {
  .thumbnail.video-panel {
      min-height: 368px!important;
  }
}

/* SUBMIT page */
.control-label {
  font-weight: normal;
}


/* ABOUT page */


.about-page hr {
  height: 3px;
}

.narrow-hr {
  width: 5em;
  height: 10px;
  background-color: #0a1175;
}


/* Videos page*/

.videoContainer {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  height: 600px;
  display: block;
  overflow: hidden;
}

#problem-pitch-overlay  {
  position: relative;
  left: 0;
  top: 0;
  overflow: hidden;
}

video#grassvideo {
  filter: saturate(120%) hue-rotate(20deg)

}

#problem-pitch-text {
  position: relative;
  margin: auto;
  width: 100%;
  top: 24%;
  z-index: 1;
  color: black;
  text-align: center;

}

.dark-bg {
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(0, 0, 0, 0.7);
  
}

.bright-bg {
  background: #fff;
  opacity: 0.7;

}


#problem-pitch-text h2 {
  font-size: 50pt;

}

#problem-pitch-text h3 {
  font-size: 20pt;

}


#video-preview {
  margin-top: 5em;
}


.purple-btn {
  color: black;
  padding: 1em;
  text-align: center;
  font-family: 'Roboto';
  font-size: 20pt;
  z-index: 1;
}


.purple-btn a {
  border-radius: 10px;
  padding: 0.5em;
  text-align: center;
  text-decoration: none;
  color: white;
  background-color: #bf00bf;
}

.purple-btn a:hover {
  border: 3px #8d008d solid;
  background-color: #8d008d;
  text-decoration: none;
  color: white;
}


#instructions {
  position: relative;
  top: -7px;
  padding: 2em 5em;
  margin-bottom: 3em;
}


#instructions-respond-btn {
  font-size: 16pt;
}

#instructions {
  font-size: 12pt;
}

#wearemitsticker {
  height: 200px;
}

.white-bg {
  background-color: white;
}

.zero-top-margin {
  margin-top: 0;
}

.thumbnail {
  border: none!important;
  border-radius: 0!important;
}

.video-panel-container {
  padding-left: 30px!important;
  padding-right: 30px!important;
}

.video-panel {
  margin-bottom: 3em!important;
  padding: 0!important;
  border-bottom: 1px solid!important;
  border-color: white!important;
  height: 350px;
}

.video-panel h4 {
  margin-top: 0;
  font-size: 12pt;
}

.video-panel img:hover {
  opacity: 0.7;
}


.center-btn {
  text-align: center;
}

/* making responsive */
@media (min-width: 990px) and (max-width: 1240px) {
  #problem-pitch-text h2 {
    font-size: 40pt;
  }
}

@media (min-width: 700px) and (max-width: 990px) {
  #problem-pitch-text h2 {
    font-size: 30pt;
  }

  #problem-pitch-text h3 {
    font-size: 18pt;
  }
}

@media (min-width: 500px) and (max-width: 700px) {
  #problem-pitch-text h2 {
    font-size: 26pt;
  }
  #problem-pitch-text h3 {
    font-size: 16pt;
  }
}

@media (max-width: 500px) {
  #problem-pitch-text h2 {
    font-size: 20pt;
  }
  #problem-pitch-text h3 {
    font-size: 14pt;
  }
}

/* Single video page*/
.video-container iframe{
  height: 400px;
  width: 100%;
}


