body {
  background-color: #ffffff !important;
  background-image: url("https://www.transparenttextures.com/patterns/binding-light.png") !important;
}

a {
  color: #00B7FF;
}

p, li {
  font-family: 'Garamond', serif;
  font-size: 14pt;
}


h2,
h3 {
  font-family: 'Roboto', sans-serif!important;
}
h3 {
  font-size: 10pt;
}

.purple-hr {
  height: 3px;
  background-color: purple;
  width: 20%;
}


/* Page widths */

.page-container {
  width: 70%;
  margin: 0 auto;
}

/* Used for About page, Single video*/
.narrow-page-container {
  width: 55%;
  margin: 5em auto;
  background-color: white;
  padding: 3em;
}


.narrow-page-container h2 {
  text-align: center;
}



/*  NAVBAR  */

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  margin-bottom: 0!important;
  z-index: 1;

}


/*h1#navbar-title {
  color: white;
  font-family:'Lobster';
  font-weight: 500;
  font-size: 1.5em;
  text-align: center;
  letter-spacing: .04em;
  margin-top: -.12em;
  padding:0;
  z-index: 2;
}*/

h1#navbar-title:hover {
  color: black;
}

.navbar-nav > li > a {
  color: #fff!important;
  font-family: 'Roboto', sans-serif!important;
  text-shadow: none!important;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 2px;
}

.nav>li>a:focus, .nav>li>a:hover {
  background-color: transparent!important;
  color: black!important;
}

.navbar .img-responsive {
    height: auto;
    width: auto;
    max-height: 72px;
    max-width: 250px;
}





/** landng page */

video#bgvid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    -webkit-filter: grayscale(90%);
    /*-webkit-filter: blur(10px);*/
    /*-moz-filter: blur(10px);*/
    /*-o-filter: blur(10px);*/
    /*-ms-filter: blur(10px);*/
    /*-webkit-filter: contrast(110%) brightness(70%) saturate(130%);*/
    /*filter: contrast(110%) brightness(70%) saturate(130%) blur(3px);*/
    filter: contrast(110%) brightness(70%) saturate(130%) ;
    background-size: cover;
}


video#bgvid {
    transition: 1s opacity;
}
.stopfade { opacity: .5; }


video#bgvid {
  display: block;
}

@media screen and (max-device-width: 800px) {
    html {
      background: url(../images/mit.png) #000 no-repeat center center fixed;
    }
    #bgvid {
      display: none;
    }
}

h1#title {
  margin-top: 1em;
  color: white;
  font-family:'Lobster';
  font-weight: 500;
  font-size: 9em;
  opacity: .8;
  text-align: center;
  letter-spacing: .04em;
}

#landing-page-container {
  position: relative;
}

#landing-page-overlay {
  position: relative;
  background-color: black;
  opacity: 0.5;
}

#landing-page-text {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  color: white;
  font-family: 'Roboto';
}


button#vidpause {
    background-color: Transparent;
    border: none;
    overflow: hidden;
    outline:none;
    font-family: 'Roboto';
    font-weight: 900;
    color: white;
    font-size: 2em;
    position: absolute;
    bottom:2%;
    right:2%;
}

a#videos-link {
  color: white;
  opacity: .8;
  font-size: 2em;
  text-align: center;
  display:table;
  margin: auto;
  font-family: 'Roboto';
  border: 2px solid white ;
  padding-right: .3em;
  padding-left: .3em;
  padding-top: .1em;
  padding-bottom: .1em;
}

a#videos-link:hover{
    text-decoration: none;
    background: rgba(50,50,50,0.5);

}

*/
@media (min-width: 1200px) {
  .thumbnail.video-panel {
      min-height: 368px!important;
  }
}

/* SUBMIT page */
.control-label {
  font-weight: normal;
}


/* ABOUT page */


.about-page hr {
  height: 3px;
}

.narrow-hr {
  width: 5em;
  height: 10px;
  background-color: #0a1175;
}
