body {
  padding-top: 50px;
  background-color: #ececec !important;
}

a {
  color: #00B7FF;
}

p {
  /*font-family: 'Muli', sans-serif;*/
}

h2,
h3 {
  font-family: 'Karla', sans-serif;
}



/* Page widths */

.page-container {
  width: 70%;
  margin: 0 auto;
}

/* Used for About page, Single video*/
.narrow-page-container {
  width: 55%;
  margin: 2em auto;
  background-color: white;
  padding: 3em;
}


.narrow-page-container h2 {
  text-align: center;
}


/*  NAVBAR  */
h1#navbar-title {
  /*color: rgb(159,1,17);*/
  color: white;
  font-family:'Lobster';
  /*font-family:'Chalkduster';*/
  /*font-family: 'Roboto';*/
  font-weight: 500;
  font-size: 1.5em;
  opacity: .8;
  text-align: center;
  letter-spacing: .04em;
  margin-top: -.12em;
  /*margin-bottom: 1em;*/
  padding:0;
}

span#nav {
  color: rgb(30,30,30);
  padding: 1.2%;
}

.navbar {
  background: rgba(255,255,255,.9);
}



.navbar-nav > li > a {
  color: #E5E5E5!important;
  font-family: 'Roboto', sans-serif!important;
  text-shadow: none!important;
  font-size: 16px;

}

.navbar-default {
  color: rgb(30,30,30);
}
body .navbar-custom {
  background-color: #868686;
  opacity: 0.75;
}


.navbar-brand img {
  height: 100%;;
  width: auto;
}



/** landng page */

video#bgvid {
>>>>>>> 3105e61d82ba270101e7a99855829a4fd34fabdb
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    -webkit-filter: grayscale(90%);
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    -webkit-filter: contrast(110%) brightness(70%) saturate(130%);
    filter: contrast(110%) brightness(70%) saturate(130%) blur(3px);
    background-size: cover;
}



video#bgvid {
    transition: 1s opacity;
}
.stopfade { opacity: .5; }


video#bgvid {
  display: block;
}

@media screen and (max-device-width: 800px) {
    html {
      background: url(../imgages/mit.png) #000 no-repeat center center fixed;
    }
    #bgvid {
      display: none;
    }
}

h1#title {
  color: rgb(159,1,17);
  font-family:'Chalkduster';
  /*font-family: 'Roboto';*/
  font-weight: 500;
  font-size: 9em;
  opacity: .8;
  text-align: center;
  letter-spacing: .04em;
}

span {
  color: white;
  padding: 1.2%;
}

button#vidpause {
    background-color: Transparent;
    border: none;
    overflow: hidden;
    outline:none;
    font-family: 'Roboto';
    font-weight: 900;
    color: white;
    font-size: 2em;
    position: absolute;
    bottom:2%;
    right:2%;
}

a#videos-link {
  color: white;
  opacity: .8;
  font-size: 2em;
  text-align: center;
  display:table;
  margin: auto;
  font-family: 'Roboto';
  margin-top: 4%;
  border: 2px solid white ;
  padding-right: .3em;
  padding-left: .3em;
  padding-top: .1em;
  padding-bottom: .1em;
}

a#videos-link:hover{
    text-decoration: none;
    background: rgba(50,50,50,0.5);

}

*/
@media (min-width: 1200px) {
  .thumbnail.video-panel {
      min-height: 368px!important;
  }
}





/* ABOUT page */


.about-page hr {
  height: 3px;
}

.narrow-hr {
  width: 5em;
  height: 10px;
  background-color: rgb(159,1,17);
}
