
/* Videos page*/

.videoContainer {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  width: 100vw;
  height: 500px;
  display: block;
  overflow: hidden;
}

#problem-pitch-overlay  {
  position: relative;
  left: 0;
  top: 0;
  width: 100vw;
  overflow: hidden;
}

video#grassvideo {
  filter: saturate(120%) hue-rotate(20deg);
  /*display: block;*/
}

#problem-pitch-text {
  position: relative;
  margin: auto;
  width: 100%;
  top: 24%;
  z-index: 1;
  color: white;
  text-align: center;

}

.dark-bg {
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(0, 0, 0, 0.7);
  padding: 10px;
}


#problem-pitch-text h2 {
  font-size: 40pt;

}


#problem-pitch-text h3 {
  font-size: 16pt;
  /*text-transform: uppercase;*/
}



.purple-btn {
  color: black;
  padding: 1em;
  margin: 1em auto;
  text-align: center;
  font-family: 'Roboto';
  font-size: 20pt;
}


.purple-btn a {
  border-radius: 10px;
  padding: 0.5em;
  text-align: center;
  text-decoration: none;
  color: white;
  background-color: #590059;
}

.purple-btn a:hover {
  border: 3px #8d008d solid;
  background-color: #8d008d;
  text-decoration: none;
  color: white;
}

/*
#instructions {
  position: relative;
  top: -52px;
  padding: 2em 5em;
  margin-bottom: 3em;
}*/

/*
#instructions-respond-btn {
  font-size: 16pt;
}

#instructions p {
  font-size: 14pt;
}

#wearemitsticker {
  height: 200px;
}*/

/*.white-bg {
  background-color: white;
}

.zero-top-margin {
  margin-top: 0;
}*/



/*
.thumbnail {
  border: none!important;
  border-radius: 0!important;
}

.video-panel-container {
  padding-left: 30px!important;
  padding-right: 30px!important;
}

.video-panel {
  margin-bottom: 3em!important;
  padding: 0!important;
  border-bottom: 1px solid!important;
  border-color: white!important;
  height: 350px;
}*/
/*
.video-panel h4 {
  margin-top: 0;
  font-size: 12pt;
}

.video-panel img:hover {
  opacity: 0.7;
}


.center-btn {
  text-align: center;
}*/






*/

/* making responsive */
@media (min-width: 990px) and (max-width: 1240px) {
  #problem-pitch-text h2 {
    font-size: 40pt;
  }
}

@media (min-width: 700px) and (max-width: 990px) {
  #problem-pitch-text h2 {
    font-size: 30pt;
  }

  #problem-pitch-text h3 {
    font-size: 18pt;
  }
}

@media (min-width: 500px) and (max-width: 700px) {
  #problem-pitch-text h2 {
    font-size: 26pt;
  }
  #problem-pitch-text h3 {
    font-size: 16pt;
  }
}

@media (max-width: 500px) {
  #problem-pitch-text h2 {
    font-size: 20pt;
  }
  #problem-pitch-text h3 {
    font-size: 14pt;
  }
}
