/*/*

/* Videos page*/

.problem-pitch {/*padding-top: 3em;*/
  
  height: 400px;
  position: relative;
  margin-bottom: 3em;
}


#problem-pitch-overlay  {
  position: absolute
  left: 0;
  top: 0;
  overflow: none;
  height: 100%;
  width: 100%;
  overflow: hidden;
  /*margin-top:-51px!important;    overlays navbar on top of video*/
}



video#videosvideo {
    transition: 1s opacity;
    width: 125%;
}
.stopfade { opacity: .5; }


video {
  display: block;
}

video#grassvideo {
  /*filter: brightness(70%) saturate(130%);*/

}


#video-description {
  background-color: white;
  padding: 2em;
  margin-bottom: 2em;


}

#problem-pitch-text {
  position: absolute;
  margin-left: 13%;
  width: 80%;
  top: 12%;
  z-index: 1;
  color: white;
  /*font-family: 'Roboto';*/
  /*text-transform: uppercase;*/

}

#problem-pitch-text h1 {
  font-size: 60pt;
  text-align: center;
}


.questionSlideShow {
  margin-top: 3em;
  text-align: center;
}

.questionSlideShow h1 {
  font-size: 50pt;
}


#header-respond-btn {
  color: black;
  padding: 1em;
  margin: 1em auto;
  text-align: center;
}


#header-respond-btn a {
  background-color: white;
  padding: 1em;
  text-align: center;
  text-decoration: none;
}

.thumbnail {
  border: none!important;
  border-radius: 0!important;

}

.video-panel-container {
  padding-left: 30px!important;
  padding-right: 30px!important;
}

.video-panel {
  margin-bottom: 3em!important;
  padding: 0!important;
  border-bottom: 1px solid!important;
  border-color: white!important;
  height: 350px;
}

.video-panel h3 {
  margin-top: 0;
  font-size: 14pt;
}

.video-panel img:hover {
  opacity: 0.7;
}


.center-btn {
  text-align: center;
}


#instructions .btn {
  background-color: gray;
  margin: 1em auto;
  color: white;
}

#instructions .btn:hover {
  opacity: 0.5;
}

#instructions {
  margin: 0 2em 2em 2em;
}

#instruction-lead {
  color: gray;
  margin-bottom: 0em;
}

.instruction-panel {
  padding: 2em;
  margin-bottom: 2em;
}


.white-bg {
  background-color: white;
}

.zero-top-margin {
  margin-top: 0;
}

/* size iframe according to parent
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}


*/

/* making responsive */
@media (min-width: 700px) and (max-width: 1240px) {
  #problem-pitch-text h1{
    font-size: 40pt;
  }
}

@media (min-width: 500px) and (max-width: 700px) {
  #problem-pitch-text h1 {
    font-size: 26pt;
  }
  #problem-pitch-text h2 {
    font-size: 20pt;
  }
}

@media (max-width: 500px) {
  #problem-pitch-text h1 {
    font-size: 16pt;
  }
  #problem-pitch-text h2 {
    font-size: 14pt;
  }
}
