/*/*

/* Videos page*/

.problem-pitch {
  margin-bottom: 3em;
  height: 400px;
  position: relative;
}


#problem-pitch-overlay  {
  position: absolute
  left: 0;
  top: 0;
  overflow: none;
  height: 100%;
  width: 100%;
  overflow: hidden;
  /*margin-top:-51px!important; */   /*overlays navbar on top of video*/

}



video#videosvideo {
    transition: 1s opacity;
    width: 125%;
}
.stopfade { opacity: .5; }


video {
  display: block;
}




#problem-pitch-text {
  position: absolute;
  margin-left: 13%;
  width: 80%;
  top: 12%;
  z-index: 1;
  color: white;
}



#problem-pitch-text h1 {
  font-size: 50pt;
}


.thumbnail {
  border: none!important;
  border-radius: 0!important;

}

.video-panel-container {
  padding-left: 30px!important;
  padding-right: 30px!important;
}

.video-panel {
  margin-bottom: 3em!important;
  padding: 0!important;
  border-bottom: 1px solid!important;
  border-color: white!important;
  height: 350px;
}

.video-panel h3 {
  margin-top: 0;
  font-size: 14pt;
}

.video-panel img:hover {
  opacity: 0.7;
}


.center-btn {
  text-align: center;
}


#instructions .btn {
  background-color: gray;
  margin: 1em auto;
  color: white;
}

#instructions .btn:hover {
  opacity: 0.5;
}

.instructions-lead {
  font-weight: bold;
  color: black;
}

/* size iframe according to parent
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}


*/

/* making responsive */
@media (min-width: 700px) and (max-width: 1240px) {
  #problem-pitch-text h1{
    font-size: 40pt;
  }
}

@media (min-width: 500px) and (max-width: 700px) {
  #problem-pitch-text h1 {
    font-size: 26pt;
  }
  #problem-pitch-text h2 {
    font-size: 20pt;
  }
}

@media (max-width: 500px) {
  #problem-pitch-text h1 {
    font-size: 16pt;
  }
  #problem-pitch-text h2 {
    font-size: 14pt;
  }
}
